* {
  margin: 0;
  padding: o;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  max-width: 1024px;
  margin: 0px auto;
  border: 1px solid red;
  height: 200vh;
}

header {
  height: 538px;
  background-image: url("../images/your_verse_hero.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  background-image: linear-gradient(rgb(125,125,125), rgb(96,96,96));
}

.nav-items {
  /* background-color: red; */
  flex: 1;
}
